#map {
  height: 400px;
  width: 100%;
 }

 #pano {
   width: 200px;
   height: 200px;
 }

 /* Create two equal columns that floats next to each other */
 .column {
     float: left;
     width: 50%;
 }

 /* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 .left {
   width: 25%;
 }

 .right-full {
   width: 100%;
 }

 .right {
   width: 75%;
 }
